#MasterPage{
	 display: flex;
 	 flex-wrap: wrap;
    border-radius: 15px;
    width: 100%;
    min-width: 75%;
    max-width: 1024px;
    
    min-height: 1024px;
    color: white;
    vertical-align: middle;
    #position: absolute;
    #float: none;
    margin: 5% auto;
    color: black;

}
#Header{
    text-align: center;
    word-spacing: middle;
    background: #ce0101;
    height: 115px;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: black;
    vertical-align: middle;
    font-size: 35px;
}
#Menu{
	 text-align: center;
    background: #ce0101;
    height: 30px;
    width: 100%;
    color: black;
    margin-left: 0px;
    margin-right: 0px;
    
}

#Page{

    background: white;
    color: black;
    max-height: 95%;
    min-height: 830px;
    width:86%;
    display: flex;
    top:60px;
    
}
#Footer{
    color: black;
  	 margin-left: 0px;
    margin-right: 0px;
 	 text-align: center;
    background: #ce0101;
    height: 300px;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}